.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 60px 0 60px;
  width: 100vw;
  min-height: 100vh;
  text-align: center;
}

@media screen and (min-width: 375px) {
  .container {
    margin: 30px 0 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 912px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-content: center;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    justify-content: center;
    margin: 0 auto;
  }
}
