.container {
  background-color: #30c0e4;
  padding: 80px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container p {
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
}

.container input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
}

.container input:focus {
  outline: 0;
}

.container input::placeholder {
  font-size: 1rem;
}

.container span {
  background-color: #fff;
  padding: 1px;
  border-radius: 3px;
  padding-left: 1rem;
  letter-spacing: 1.2px;
  opacity: 0.8;
  text-transform: capitalize;
  cursor: pointer;
  color: blue;
}
